<h1>Books</h1>
<%= form_with model: Book.new do |f| %>
<h2>New Book</h2>

  <h5>Title</h5>
  <%= f.text_field :title %>
	
  <h5>body</h5>
  <%= f.text_area :body %></br>
	
  <%= f.submit 'Create Book' %>
  
<% end %> 